// // $primary1: #051c2c;
// // $primary2: #ffffff;

// @function str-replace($string, $search, $replace: "") {
// 	$index: str-index($string, $search);

// 	@if $index {
// 		@return str-slice($string, 1, $index - 1) + $replace +
// 			str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
// 	}

// 	@return $string;
// }


// @mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
// 	$src: null;

// 	$extmods: (
// 		eot: "?",
// 		svg: "#" + str-replace($name, " ", "_")
// 	);

// 	$formats: (
// 		otf: "opentype",
// 		ttf: "truetype"
// 	);

// 	@each $ext in $exts {
// 		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
// 		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
// 		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
// 	}

// 	@font-face {
// 		font-family: quote($name);
// 		font-style: $style;
// 		font-weight: $weight;
// 		font-display: swap;
// 		src: $src;
// 	}
// }

// @include font-face(Hack,"../fonts/Hack",null,null,woff);
// @include font-face(Playfair_Display,"../fonts/Playfair_Display",null,null,ttf);
// @include font-face(Cormorant_Garamond,"../fonts/Cormorant_Garamond",null,null,ttf);
//can you use @use instead?

// other method?
// @import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';


@font-face {
    font-family: 'Hack';
    // font-style: ;
    // font-weight: ;
    font-display: swap;
    src: url(../fonts/Hack/hack-regular.woff) format('woff');
}

@font-face {
    font-family: "Playfair_Display";
    font-display: swap;
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('ttf');
}

@font-face {
    font-family: "Poppins";
    font-display: swap;
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format('ttf');
}

@font-face {
    font-family: "Matrix";
    font-display: swap;
    src: url(../fonts/MatrixFont/Matrix-MZ4P.ttf) format('truetype');
}

@font-face {
    font-family: "LCDsolid";
    font-display: swap;
    src: url(../fonts/LCDsolid/LcdSolid-VPzB.ttf) format('truetype');
}

@font-face {
    font-family: "EdgeOfTheGalaxy";
    font-display: swap;
    src: url(../fonts/EdgeOfTheGalaxy/EdgeOfTheGalaxyRegular-OVEa6.otf) format('otf');
}

@font-face {
    font-family: "AlphaCenturi";
    font-display: swap;
    src: url(../fonts/AlphaCenturi/Alphacentauri-MVY4p.ttf) format('truetype');
}

@font-face {
    font-family: "Mandalore";
    font-display: swap;
    src: url(../fonts/mandalore-font/Mandalore-K77lD.otf) format('otf');
}

// Global Variable Start

    //fonts
$brandFont: "Matrix";
$navFont: "LCDsolid";
// $bannerFont: "EdgeOfTheGalaxy";
// $bannerFont: "Mandalore";
$bannerFont: "AlphaCenturi";

    //colors
$primaryBlack: black;
$secondaryYellow: yellow;

$prussian-blue: #002642ff;
$claret: #840032ff;
$gamboge: #e59500ff;
$gainsboro: #e5dadaff;
$rich-black-fogra-29: #02040fff;
$cultured: #eef0f2ff;
$ghost-white: #fafaffff;

$rich-black-fogra-39: #0d0a0bff;
$lime-green: #6dcd3cff;
$selective-yellow: #ffb81fff;
$vermilion: #e61d0fff;
$baby-powder: #fdfffcff;


$gradient-top: linear-gradient(0deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-right: linear-gradient(90deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-bottom: linear-gradient(180deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-left: linear-gradient(270deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-top-right: linear-gradient(45deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-bottom-right: linear-gradient(135deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-top-left: linear-gradient(225deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-bottom-left: linear-gradient(315deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-radial: radial-gradient(#0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
// Global Variable End

// start navigation

.header_area .main-menu {

    .navbar {
        padding: .1rem .1rem;

        .navbar-brand{
            padding: 0 1rem 0 1rem;
            // background: red;
            font-family: $brandFont, "Hack", cursive;
            text-transform: uppercase;
            // font-variant: ;
            color: $lime-green;
            font-size: 2.3rem;
            
        }
    }
    
    .nav-item {
        .nav-link {
            font-family: $navFont;
            text-transform: uppercase;
            letter-spacing: .2rem;
            font-weight: 400;
            padding: 1.7rem;
            color: $selective-yellow;
        }
        .active a {
            background: $vermilion;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: bold;
        }
        a:hover {
            background: $lime-green;
            font-weight: bold;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    .navbar-nav {
        .active a {
            background: $vermilion;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: bold;
        }
    }

    .social-links {
        padding: 27.2px;
        display: block;
        place-items: center;

        a {
            color: $selective-yellow;
        }

        .fa-linkedin-in:hover {
            color: #0077b5;
        }
        .fa-twitter:hover {
            color: #1DA1F2;
        }
        .fa-medium-m:hover {
            color: white;
        }
    }

    .navbar-toggler {
        background: $gamboge;
        color: red;
        margin-right: 15px;
        // position: ;
    }


}



// end navigation

html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: $rich-black-fogra-39;
    // background-color: whitesmoke;
}

// start banner

// for watermark background img
// .site-main .site-banner {
    // background: url(../img/tonyeus.jpg) no-repeat;
    // background-position: 0% 50%; //first is horizonal, second vertical
// }

.site-main .site-banner {
    .site-title {
        h4 {
            font-weight: 500;
            font-size: 1.5rem;
        }
        h4::after {
            content: "";
            height: 2px;
            width: 18vw;
            background: $lime-green;
            display: inline-block;
            // margin-left: 5%;
            transform: translateY(-10px);
        }
    }

    .banner-image > img {
        padding: 7rem 0;
        width: 90rem;
    }

    .quote {
        font-family: "Hack";
        font-size: 8;
    }
}

.title-text {
    font: normal bold 50px/72px $bannerFont;
}

.text-uppercase {
    text-transform: none;
}

.button {
    padding: .8rem 2.2rem; //top&bot left&right
    font-style: normal;
    font: normal 500 10px/20px "Hack";
    position: relative;
    border: 3px solid transparent; //use transparent because you're using a gradient border
    border-radius: 4px;
}

.button.primary-button {
    background: $selective-yellow;
    background-clip: padding-box;
    color: $rich-black-fogra-29;
    font-family: $navFont;
    font-size: .9rem;
    transition: background .6s ease;
    box-shadow: 5px 10px 18px red;
    //user parent selector for nesting selectors
    a {
        
    }
    &:hover {
        background: $rich-black-fogra-29;
        background-clip: padding-box;
        color: $lime-green;
        font-weight: 800;
    }
    &::after {
        position: absolute;
        top: -2px; left: -2px;
        bottom: -2px; right: -2px;
        background: $gradient-left;
        content: '';
        z-index: -1;
        border-radius: 4px;
    }
}

.site-main {
    margin: 5px 200px;
}
@media screen and (max-width: 768px) {
    .site-main {
        margin: 5px 0px;
    }
}


// end banner

//navbar sticky?
.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: white;
    box-shadow: 5px 10px 18px red;
    z-index: 999;
    transition: background 1s ease;
}

// Library Page
.booktable {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &> div {
        background-color: darkgray;
        font-size: 20px;
        margin: 20px;
        padding: 20px;
        width: 200px;
        justify-content: center;
        text-align: center;

        &> div {
            width: 100px;
            height: 125px;
            justify-content: center;
        }
    }
}
.responsive-image {
    max-width: 100%;
}