/* Coolors Exported Palette - https://coolors.co/1c1c1c-daddd8-ecebe4-eef0f2-fafaff */

/* CSS */
--eerie-black: hsla(0, 0%, 11%, 1);
--timberwolf: hsla(96, 7%, 86%, 1);
--alabaster: hsla(52, 17%, 91%, 1);
--cultured: hsla(210, 13%, 94%, 1);
--ghost-white: hsla(240, 100%, 99%, 1);

/* SCSS HEX */
$eerie-black: #1c1c1cff;
$timberwolf: #daddd8ff;
$alabaster: #ecebe4ff;
$cultured: #eef0f2ff;
$ghost-white: #fafaffff;

/* SCSS HSL */
$eerie-black: hsla(0, 0%, 11%, 1);
$timberwolf: hsla(96, 7%, 86%, 1);
$alabaster: hsla(52, 17%, 91%, 1);
$cultured: hsla(210, 13%, 94%, 1);
$ghost-white: hsla(240, 100%, 99%, 1);

/* SCSS RGB */
$eerie-black: rgba(28, 28, 28, 1);
$timberwolf: rgba(218, 221, 216, 1);
$alabaster: rgba(236, 235, 228, 1);
$cultured: rgba(238, 240, 242, 1);
$ghost-white: rgba(250, 250, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1c1c1cff, #daddd8ff, #ecebe4ff, #eef0f2ff, #fafaffff);
$gradient-right: linear-gradient(90deg, #1c1c1cff, #daddd8ff, #ecebe4ff, #eef0f2ff, #fafaffff);
$gradient-bottom: linear-gradient(180deg, #1c1c1cff, #daddd8ff, #ecebe4ff, #eef0f2ff, #fafaffff);
$gradient-left: linear-gradient(270deg, #1c1c1cff, #daddd8ff, #ecebe4ff, #eef0f2ff, #fafaffff);
$gradient-top-right: linear-gradient(45deg, #1c1c1cff, #daddd8ff, #ecebe4ff, #eef0f2ff, #fafaffff);
$gradient-bottom-right: linear-gradient(135deg, #1c1c1cff, #daddd8ff, #ecebe4ff, #eef0f2ff, #fafaffff);
$gradient-top-left: linear-gradient(225deg, #1c1c1cff, #daddd8ff, #ecebe4ff, #eef0f2ff, #fafaffff);
$gradient-bottom-left: linear-gradient(315deg, #1c1c1cff, #daddd8ff, #ecebe4ff, #eef0f2ff, #fafaffff);
$gradient-radial: radial-gradient(#1c1c1cff, #daddd8ff, #ecebe4ff, #eef0f2ff, #fafaffff);