/* Coolors Exported Palette - https://coolors.co/0d0a0b-6dcd3c-ffb81f-e61d0f-fdfffc */

/* CSS */
--rich-black-fogra-39: hsla(340, 13%, 5%, 1);
--lime-green: hsla(100, 59%, 52%, 1);
--selective-yellow: hsla(41, 100%, 56%, 1);
--vermilion: hsla(4, 88%, 48%, 1);
--baby-powder: hsla(100, 100%, 99%, 1);

/* SCSS HEX */
$rich-black-fogra-39: #0d0a0bff;
$lime-green: #6dcd3cff;
$selective-yellow: #ffb81fff;
$vermilion: #e61d0fff;
$baby-powder: #fdfffcff;

/* SCSS HSL */
$rich-black-fogra-39: hsla(340, 13%, 5%, 1);
$lime-green: hsla(100, 59%, 52%, 1);
$selective-yellow: hsla(41, 100%, 56%, 1);
$vermilion: hsla(4, 88%, 48%, 1);
$baby-powder: hsla(100, 100%, 99%, 1);

/* SCSS RGB */
$rich-black-fogra-39: rgba(13, 10, 11, 1);
$lime-green: rgba(109, 205, 60, 1);
$selective-yellow: rgba(255, 184, 31, 1);
$vermilion: rgba(230, 29, 15, 1);
$baby-powder: rgba(253, 255, 252, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-right: linear-gradient(90deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-bottom: linear-gradient(180deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-left: linear-gradient(270deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-top-right: linear-gradient(45deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-bottom-right: linear-gradient(135deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-top-left: linear-gradient(225deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-bottom-left: linear-gradient(315deg, #0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);
$gradient-radial: radial-gradient(#0d0a0bff, #6dcd3cff, #ffb81fff, #e61d0fff, #fdfffcff);