/* Coolors Exported Palette - https://coolors.co/0c1531-06456a-0075a2-cae5ff-e0ecfa-f5f3f5-dfe2e2-eab934 */

/* CSS */
--oxford-blue: hsla(225, 61%, 12%, 1);
--indigo-dye: hsla(202, 89%, 22%, 1);
--celadon-blue: hsla(197, 100%, 32%, 1);
--beau-blue: hsla(209, 100%, 90%, 1);
--alice-blue: hsla(212, 72%, 93%, 1);
--cultured: hsla(300, 9%, 96%, 1);
--platinum: hsla(180, 5%, 88%, 1);
--saffron: hsla(44, 81%, 56%, 1);

/* SCSS HEX */
$oxford-blue: #0c1531ff;
$indigo-dye: #06456aff;
$celadon-blue: #0075a2ff;
$beau-blue: #cae5ffff;
$alice-blue: #e0ecfaff;
$cultured: #f5f3f5ff;
$platinum: #dfe2e2ff;
$saffron: #eab934ff;

/* SCSS HSL */
$oxford-blue: hsla(225, 61%, 12%, 1);
$indigo-dye: hsla(202, 89%, 22%, 1);
$celadon-blue: hsla(197, 100%, 32%, 1);
$beau-blue: hsla(209, 100%, 90%, 1);
$alice-blue: hsla(212, 72%, 93%, 1);
$cultured: hsla(300, 9%, 96%, 1);
$platinum: hsla(180, 5%, 88%, 1);
$saffron: hsla(44, 81%, 56%, 1);

/* SCSS RGB */
$oxford-blue: rgba(12, 21, 49, 1);
$indigo-dye: rgba(6, 69, 106, 1);
$celadon-blue: rgba(0, 117, 162, 1);
$beau-blue: rgba(202, 229, 255, 1);
$alice-blue: rgba(224, 236, 250, 1);
$cultured: rgba(245, 243, 245, 1);
$platinum: rgba(223, 226, 226, 1);
$saffron: rgba(234, 185, 52, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0c1531ff, #06456aff, #0075a2ff, #cae5ffff, #e0ecfaff, #f5f3f5ff, #dfe2e2ff, #eab934ff);
$gradient-right: linear-gradient(90deg, #0c1531ff, #06456aff, #0075a2ff, #cae5ffff, #e0ecfaff, #f5f3f5ff, #dfe2e2ff, #eab934ff);
$gradient-bottom: linear-gradient(180deg, #0c1531ff, #06456aff, #0075a2ff, #cae5ffff, #e0ecfaff, #f5f3f5ff, #dfe2e2ff, #eab934ff);
$gradient-left: linear-gradient(270deg, #0c1531ff, #06456aff, #0075a2ff, #cae5ffff, #e0ecfaff, #f5f3f5ff, #dfe2e2ff, #eab934ff);
$gradient-top-right: linear-gradient(45deg, #0c1531ff, #06456aff, #0075a2ff, #cae5ffff, #e0ecfaff, #f5f3f5ff, #dfe2e2ff, #eab934ff);
$gradient-bottom-right: linear-gradient(135deg, #0c1531ff, #06456aff, #0075a2ff, #cae5ffff, #e0ecfaff, #f5f3f5ff, #dfe2e2ff, #eab934ff);
$gradient-top-left: linear-gradient(225deg, #0c1531ff, #06456aff, #0075a2ff, #cae5ffff, #e0ecfaff, #f5f3f5ff, #dfe2e2ff, #eab934ff);
$gradient-bottom-left: linear-gradient(315deg, #0c1531ff, #06456aff, #0075a2ff, #cae5ffff, #e0ecfaff, #f5f3f5ff, #dfe2e2ff, #eab934ff);
$gradient-radial: radial-gradient(#0c1531ff, #06456aff, #0075a2ff, #cae5ffff, #e0ecfaff, #f5f3f5ff, #dfe2e2ff, #eab934ff);